@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

/* Regular styles for width greater than or equal to 750px */
body {
  max-width: 1440px;
  margin: 0 auto;
}

/* Media query for width less than 750px */
@media (max-width: 749px) {
  body {
    max-width: none; /* Resetting the max-width property */
    margin: 0;
  }
}

p {
  font-family: 'Red Hat Display', sans-serif;
}